
.navbar{

	padding:0px 0px 0px 1px;
		border-style:solid;
	border-color:black;
	border-width:0 0 0 0;
}

#navbarNav .collapse .navbar-collapse{
	padding-top:100px;
	


}
navbar-default {
  border-color: transparent;
  }


#navigatorRodnoy{

	height:44px;
	background-color:#F7F7F7;
	border-style:solid;
	border-color:black;
	border-width:0 1px 1px 1px ;
	position:fixed;
	z-index:100;
	padding-left:220px;
	margin-bottom:200px;
	

	
}
ul.navbar-nav{
	height:42px;
	width:980px;
	margin:0 auto;
	position:fixed;
	z-index:100;

}

.navbar-toggleable-md .navbar-nav .nav-link{

	padding-right:2.4rem;
	padding-left:2.4rem;
}
#first{
	background:url('img/1nonactive.png') no-repeat;
	border-color:black;
	border-width:1px;
	border-style:solid;
	width:99px;
}
#first.nav-link{



}
#second{
	background:url('img/2nonactive.png') no-repeat;
	width:99px;
		border-color:black;
	border-width:1px;
	border-style:solid;

}
#third{
	background:url('img/3nonactive.png') no-repeat;
	width:99px;
	border-color:black;
	border-width:1px;
	border-style:solid;

}
#fourth{
	background:url('img/4nonactive.png') no-repeat;
	width:99px;
		border-color:black;
	border-width:1px;
	border-style:solid;

}
#fifth{
	background:url('img/5nonactive.png') no-repeat;
	width:99px;
		border-color:black;
	border-width:1px;
	border-style:solid;

}
#sixth{
	background:url('img/6nonactive.png') no-repeat;
	width:99px;
		border-color:black;
	border-width:1px;
	border-style:solid;

}
.rightside#reg{
	background:url('img/reg.png') no-repeat;
	border-radius:5px;
	width:94px;
	height:30px;


}
#reg.rightside{
margin-top:5px;
margin-left:50px;
}

}
#imgshop{
padding-right:100px;

}
#balance{
	background-color:#a3a3a3;
	height:20px;
	min-width:30px;
	border-radius:5px;

}
#balance h4{
	color:white;
	font-size:12px;
	text-align:center;
	margin-top:5px;

}
h4{
	padding-top:3px;

}

#imgshop #shop {
	background:url('img/shop.png') no-repeat;
	color:white;

}

#enter a{
	color:#32718f;
	font-size:13px;
	padding-left:20px;
	margin-top:3px;
	width:100%;
}

.nav-item {
	margin-bottom:2px;

}

#almaty{
	background:url('img/almaty.png') no-repeat;
}

#needhelp{
	background:url('img/needhelp.png') no-repeat;
}

#defence{
	background:url('img/defence.png') no-repeat;
}

#sends{
	background:url('img/sends.png') no-repeat;
}
.imageshelp{
	width:239px;
	height:35px;
	padding:0;

}
.imagesactions{
	width:240px;
	height:60px;
	padding:0;
	width:100%;

}
#choco{
	background:url('img/Choco.png') no-repeat;
	width:100%;


}
.nice{
	font-size:2px;

}

#nadpis{
font-style:italic;
}
.searchactions{
	max-width:980px;
	margin:0 auto;
	position:static;
	padding-top:20px;


}
.form-control{
	width:250px;


}
.footerR{
	margin:0 auto;
	width:100%;
	padding-top:20px;
		color:white;
	font-size:13px;

}
.footerR .list-inline-item{
font-size:15px;

}
#clients{
padding-left:10px;
padding-right:20px;
margin-left:20px;

}
#company{
margin-right:10px;

}
#partners{
	padding-left:60px;


}
.footer-first{
	padding-top:2px;
	font-size:13px;


}
#google{

position:static;
}
#datesdvig{
	padding-top:30px;


}
#mapsdvig{
	padding-top:30px;


}
#chocosdvig{
	padding-top:30px;


}
#appsdvig{
	padding-top:20px;


}

.inform{
	margin:0 auto;
	max-width:980px;
	padding-top:70px;
}
a.nav-link{
	height:42px;
	width:99px;
	margin-right:4px;
}
a{
	color:#000;


}
#categoriesmaker{
	margin:0 auto;
	max-width:980px;
	padding-top:10px;

}
#red{
	color:red;

}
.list-inline-item#categories{
	padding-right:7px;
	padding-left:7px;
	font-weight:bold;
	font-size:14px;
	color:#212121;

}
.list-inline-item#radio{

	padding-right:30px;
	padding-left:30px;
	color:#212121;
	text-decoration: none;

}

#doubleline{
	border-style:solid;
	border-color:#dcdcdc;
	border-width:1px 0 1px 0;
	margin-top:20px;
	height:40px;
	top:40px;
	position: sticky;
	z-index:100;
	background-color:white;

}

.miniadds{

	max-width:1000px;
	margin:0 auto;
	position:static;
	padding-top:20px;
	padding-bottom:20px;
	padding-right:20px;

}

.imagesminiadv{
	width:239px;
	height:60px;
	padding:0;


}

#miniadv{

	background:url('img/miniadv.png')

}
#miniadv1{

	background:url('img/miniadv1.png')

}

#miniadv2{

	background:url('img/miniadv2.png')

}

#miniadv3{

	background:url('img/miniadv3.png')

}

.longadv{

	margin:0 auto;
	max-width:980px;
}

.imagesadv{
	height:315px;
	width:325px;

}
#searchicon{
	background:url('img/searchicon.png') no-repeat;
	height:38px;
	position:relative;
	border-color:#ffcc33;

}
.sorter{

	margin:0 auto;
	max-width:980px;
	border-style:solid;
	border-color:#ffc600;
	border-width:1px 1px 1px 1px ;
	padding-top:10px;
}

.col-md-4{
	padding-top:5px;
	padding-bottom:5px;
	
}


#reklama{

	background:url('img/reklama4.png') no-repeat;

}

#reklama2{

	background:url('img/reklama2.png') no-repeat;

}
#reklama3{

	background:url('img/reklama3.png')no-repeat;	

}
.advertising{
	max-width:1000px;
	margin:0 auto;
	position:static;
	padding-top:20px;
	padding-bottom:20px;


}

.col-md-4{
	padding-right:5px;
	padding-left:5px;
}


#Info {
	font-style:italic;
	font-size:12.2px;
	font-style:bold;
	max-width:980px;
	background-color:#f0f0f0;
	margin:0 auto;
	padding-top:20px;
	padding-bottom:20px;

}
#grey{
	background-color:#f0f0f0;

}

p{
margin:0;
}


h2{
	font-size:13px;
	margin-top:10px;
	margin-bottom:0;

}
#infoimg{
	float:left;
	padding-bottom:10px;
	padding-right:20px;
	padding-top:13px;


}


#topfooter{
max-width:980px;
padding-left:300px;
}


footer{
	background-color:#343434;
	margin:0 auto;
	height:100%;
	margin-top:20px;
	height:100%;



}
.tables{
	max-width:980px;
	margin:0 auto;

}
