.Mainpart{
	max-width:980px;
	margin:0 auto;
	
}
.offer{
	margin:0 auto;
	max-width:980px;
	padding-top:20px;
	padding-bottom:20px;
}
#offer-title{
	border-style:solid;
	border-color:black;
	border-width:1px 1px 1px 1px ;
	height:34px;
	border-radius:20px 20px 0 0 ;
	background-color:#fbfbfb;
	width:980px;
}
#offer-info{

	border-style:solid;
	border-color:black;
	border-width:0 1px 1px 1px ;
	border-radius: 0 0 20px 20px;
	height:427px;
	width:980px;
	color:#5b5b5b;
	padding-left:30px;
}

.offer-title-begin{
	font-size:13px;
	color:#555;
	font-weight: 400;
	padding-left:20px;


}
.offer-title-begin.rightstorona{
	float:right;
	padding-right:20px;
	padding-top:3px;

}
#tabagan{
	padding-top:20px;

}
.image{

	position:relative;
	display:inline-block;
	vertical-align: top;
	width:660px;


}
.coasts{

	display:inline-block;
	width:275px;
	text-align:center;
	vertical-align: top;
}
.offer-price_main{
	font-size:35px;
	font-weight: bold;
	width:280px;
	padding-top:40px;
	color:#323232;

}
.offer-price_old{
	margin-bottom:10px;
	color:#999;
	font-weight: 400;
	font-size:13px;
	line-height: 18px;


}
h5{
	padding-top:10px;
}
.buy{
	margin:0 auto;
	text-align:center;
	align-items: center;
	display:flex;
	height:40px;
	width:176px;
	font-size:16px;
	background-color:#ffcb34;
	justify-content: center;
		border-style:solid;
	border-color:#ffcb34;
	border-width:1px 1px 1px 1px ;
	border-radius:5px;

}
.counter{
	font-size:13px;
	padding-top:25px;

}
.time{
	padding-top:20px;
	font-size:13px;
	border-style:solid;
	border-color:#ccc;
	border-width:1px 0 1px 0 ;
}
#realtime{
	padding-top:10px;
	font-size:19px;
	font-color:#ccc;

}
.email{
	padding-top:10px;
}
.Information{
	max-width:980px;
	margin:0 auto;

}
#topinfo{
	border-color:#ebebeb;
	border-style:solid;
	background-color:#ebebeb;
	border-width:1px 1px 1px 1px ;
	height:56px;
	border-radius:20px 20px 0 0 ;
	width:980px;
}
#bottominfo{
	width:980px;
	border:1px solid #c5c5c5;
	border-radius: 0 0 0 0;
	height:1900px;
	color:#5b5b5b;
	padding-left:30px;
	margin:0 auto;
	padding-left:20px;
}
.offer-meny{

	padding-top:15px;
	padding-left:20px;
}
.bottominfoleft{
	max-width:425px;
	font-size:14px;
	float:left;

}
.offer-meny li{
	padding-left:15px;
	padding-right:15px;

}
#infasotka{
	border-style:solid;
	border-color:#ffc600;
	border-width:1px 1px 1px 1px ;
	height:33px;
	border-radius:20px 20px 20px 20px ;
	width:143px;
	text-align:center;
	background:#ffc600;
	padding-top:2px;
}
#infagolubayasotka{
	color:#30a2e9;

}
#rash{

	padding-top:20px;

	padding-bottom:30px;
}
.condtext{

	margin-bottom:17px;
	font-weight:400;
	font-size:18px;
	line-height: 17px;
}
.typessert{
	font-weight:700;
	margin-bottom:17px;

}

.blue{

	color:#30a2e9 !important;

}
.bottominforight{
	margin:0 auto;
	max-width:470px;
	float:right;
	padding-right:30px;

}
#video{
	padding-bottom:40px;

}
.nazvanie{
	font-size:13px;
	padding-top:10px;

}
.fortabagan{
	padding-left:20px;
}
#bill{
	height:100px;
	border-style:solid;
	border-color:#ebebeb;
	background:#ebebeb;
	border-radius:0 0 20px 20px ;
	margin:0 auto;
	margin-left:16px;
	width:980px;

}
#finalbill{
	margin:0 auto;
	text-align:center;
	font-size:16px;
	width:176px;
	height:40px;
	float:right;
	background-color:#ffcb34;
	border-style:solid;
	border-color:#ffcb34;
	border-width:1px 1px 1px 1px ;
	border-radius:5px;

}